.popup__form {
  display: flex;
  width: 358px;
  margin: 34px 36px 37px 36px;
  flex-direction: column;
}

@media all and (max-width: 425px) {
  .popup__form {
    width: 238px;
    margin: 25px 22px;
  }
}