.profile__info {
  display: grid;
  max-width: 336px;
  width: 100%;
  grid-template-columns: 2;
  grid-template-rows: 2;
  column-gap: 18px;
  row-gap: 16px;
  margin: auto 0 auto 26.25px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 22.25px 0 0;
    column-gap: 10px;
    row-gap: 14px;
    text-align: center;
    align-content: center;
  }
}
