.profile__bio {
  width: 100%;
  margin: 16px 0 0;
  font-family: 'Inter','Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (max-width: 425px) {
  .profile__bio {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}